# Eat Safe, Love
## Notebook Set Up

In [28]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [29]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [30]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [31]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [32]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [33]:
#looking for hygiene scores field
establishments.find_one()

{'_id': ObjectId('66b2c504bb94afb743cb573e'),
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'AddressLine1': 'Penang Flavours',
 'AddressLine2': '146A Plumstead Rd',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'PostCode': 'SE18 7DY',
 'Phone': '',
 'LocalAuthorityCode': '511',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'scores': {'Hygiene': '', 'Structural': '', 'ConfidenceInManagement': ''},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': 0.08384, 'latitude': 51.490142},
 'RightToReply': '',
 'Distance': 4623.972328074718,
 'NewRatingPending': True,
 'RatingValue': None}

In [34]:
# Find the establishments with a hygiene score of 20
query ={'scores.Hygiene':20}

# Use count_documents to display the number of documents in the result
print(f'The number of establishments with a hygiene score of 20 is: {establishments.count_documents(query)}')
# Display the first document in the results using pprint
results_hygiene = establishments.find(query)
pprint(results_hygiene[0])

The number of establishments with a hygiene score of 20 is: 0

IndexError: no such item for Cursor instance

In [35]:
# Convert the result to a Pandas DataFrame
results_list_hygiene = list(results_hygiene)
hygiene_df = pd.DataFrame(results_list_hygiene)
# Display the number of rows in the DataFrame
print(f'The number of rows in the dataframe is: {len(hygiene_df)}')
# Display the first 10 rows of the DataFrame
hygiene_df.iloc[:10,:]

The number of rows in the dataframe is: 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [36]:
print(establishments.find_one({'LocalAuthorityName':{'$regex':'London'}}))

None

In [37]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName':{'$regex':'London'},'RatingValue':{'$gte':4}}

# Use count_documents to display the number of documents in the result
print(f'The number of establishments in London with a Rating of 4 or high is: {establishments.count_documents(query)}')
# Display the first document in the results using pprint
results_london = establishments.find(query)

pprint(results_london[0])

The number of establishments in London with a Rating of 4 or high is: 0

IndexError: no such item for Cursor instance

In [38]:
# Convert the result to a Pandas DataFrame
results_list_london = list(results_london)
london_df = pd.DataFrame(results_list_london)
# Display the number of rows in the DataFrame
print(f'The number of rows in the dataframe is: {len(london_df)}')
# Display the first 10 rows of the DataFrame
london_df.iloc[:10,:]

The number of rows in the dataframe is: 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [39]:
# Search within 0.01 degree on either side of the latitude and longitude.

degree_search = 0.01
#query for business then extract latitude value from geocode dictionary
latitude = establishments.find_one({'BusinessName':'Penang Flavours'})['geocode']['latitude']


#query for business then extract longitude value from geocode dictionary
longitude = establishments.find_one({'BusinessName':'Penang Flavours'})['geocode']['longitude']

#create upper and lower bounds for lat and long
upper_long = longitude + degree_search 
lower_long = longitude - degree_search
upper_lat = latitude + degree_search
lower_lat = latitude - degree_search
#longitude and latitude with in the correct bounds and a rating of 5
query = {'geocode.longitude':{'$lte':upper_long,'$gte':lower_long},
         'geocode.latitude':{'$lte':upper_lat,'$gte':lower_lat},'RatingValue': 5}
#sort from lowest to highest (ascending)
sort = [('scores.Hygiene', 1)]

limit = 5

# Print the results

results_new_rest = establishments.find(query).sort(sort).limit(limit)

#why if i print using a for loop before making it a list can i not make it a list later?

results_list_new_rest = list(results_new_rest)

for result in results_list_new_rest:
    pprint(result, indent= 2)

In [40]:
# Convert result to Pandas DataFrame
new_rest_df = pd.DataFrame(results_list_new_rest)
new_rest_df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [41]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

#filter collection
match = {'$match':{'scores.Hygiene':0}}
#group the collection by local authority
group = {'$group':{'_id':'$LocalAuthorityName','count':{'$sum':1}}}
#sort by count 
sort = {'$sort':{'count':-1}}

#create a pipeline variable wit the queries 
pipeline = [match, group, sort]

#use pipeline variable in aggregate function 
results = establishments.aggregate(pipeline)

# Print the number of documents in the result
list_results = list(results)

print(f'The number of local authorities is: {len(list_results)}')

# Print the first 10 results
pprint(list_results[:10])

The number of local authorities is: 0
[]

In [42]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list_results)
# Display the number of rows in the DataFrame
print(f'There is {len(df)} rows in the dataframe')
# Display the first 10 rows of the DataFrame
df.iloc[:10,:]

There is 0 rows in the dataframe

Empty DataFrame
Columns: []
Index: []